.formulario {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.formulario form {
  max-width: 80%;
  background-color: #b6ad7c;
  border-radius: 20px;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(182, 173, 124, .6);
}